.first-view {
  display: flex;
  margin-bottom: 74px;

  .search-location {
    display: inline-flex;
    flex-direction: column;
    margin-top: 140px;
    width: 496px;

    h1 {
      text-align: left;
      width: 496px;
      color: var(--mrt-app-headline, #1b1c57);
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
    }
    h1+h6{
      margin-top: 24px;
    }
    h6 {
      text-align: left;
      color: #626687;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
    }

    .partnership {
      display: inline-flex;
      align-items: center;
      gap: 32px;
      height: 64px;

      img {
        width: 82.75px;
        padding: 24px 0;
      }
    }
  }

  .main-image {
    display: flex;
    position: relative;
    z-index: -1;
    bottom: 46px;
    left: 104px;
    border-radius: 0px 0px 0px 80px;

    .main-photo {
      height: 720px;
    }

    .info {
      position: absolute;
      width: 280px;
      z-index: 0;
      left: 48px;
      bottom: 42px;
      display: flex;
      padding: 24px;
      align-items: center;
      border-radius: 32px;
      background: #fff;
      box-shadow: 0px 11px 48px 0px rgba(51, 51, 51, 0.06);

      .text-info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 72px;
      }
    }

    .info-2 {
      left: 392px;
      gap: 16px;

      .text-info {
        margin-left: 0;
      }
    }

    .info-3 {
      min-width: 280px;
      left: 609px;
      gap: 16px;

      .text-info {
        display: inline-flexbox;
        margin-left: 0;
      }
    }

    .orange {
      position: absolute;
      z-index: 0;
      bottom: 418px;
      left: 555px;
    }

    .red {
      position: absolute;
      z-index: 0;
      bottom: 485px;
      left: 80px;
    }

    .blue {
      position: absolute;
      z-index: 0;
      bottom: 234px;
      left: 565px;
    }

    .green-1 {
      position: absolute;
      z-index: 0;
      bottom: 348.5px;
      left: 244px;
    }

    .green-2 {
      position: absolute;
      z-index: 0;
      bottom: 348.5px;
      left: 304.5px;
    }

    .green-3 {
      position: absolute;
      z-index: 0;
      bottom: 348.5px;
      left: 332.5px;
    }

    .ava-2 {
      position: absolute;
      left: 55px;
    }

    .ava-3 {
      position: absolute;
      left: 86px;
    }
  }
  .search-input {
    height: 50px;
    display: flex;
    padding: 4px 4px 4px 24px;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 32px;
    gap: 16px;
    border-radius: 32px;
    border: 1px solid var(--neutral-300, #e0e3eb);
    background: #fff;
  
    input {
      size: 40px;
    }
  
    .search-button {
      display: flex;
      padding: 12px 16px;
      align-items: center;
      border-radius: 32px;
      background: var(--green-500, #10b981);
    }
  
    h6 {
      color: var(--mrt-app-neutral-01, #626687);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      /* 175% */
      text-transform: none;
    }
  
    .input {
      height: 24px;
      border-width: 0;
      text-align: left;
      width: 303px;
      color: var(--neutral-500, #888b97);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      /* 157.143% */
    }
  }
}
